{
  "parser": "babel-eslint",
  "extends": "airbnb", 
  "plugins": [
    "react"
  ],
  "env": {
      "es6": true,
      "browser": true,
      "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [2, { "devDependencies": true } ],
    "no-underscore-dangle":["error",{"allow": ["_id"]}],
    "new-cap": ["error", {"capIsNewExceptions":["Router"]}],
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "comma-dangle": ["error", {"functions": "ignore"}]
  }
}